In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pl
%matplotlib inline

In [3]:
df=pd.read_csv('portugal_housing.csv')
df.head()

C:\Users\dipb8\AppData\Local\Temp\ipykernel_7540\3124998786.py:1: DtypeWarning: Columns (6,7,9,13,14,15,16,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('portugal_housing.csv')

,Price,District,City,Town,Type,EnergyCertificate,Floor,Lift,Parking,HasParking,...,Elevator,ElectricCarsCharging,TotalRooms,NumberOfBedrooms,NumberOfWC,ConservationStatus,LivingArea,LotSize,BuiltArea,NumberOfBathrooms
0,250000.0,Faro,São Brás de Alportel,São Brás de Alportel,Apartment,A+,2nd Floor,True,1.0,True,...,NaN,NaN,2.0,NaN,NaN,NaN,114.0,NaN,NaN,2.0
1,9500.0,Faro,Albufeira,Albufeira e Olhos de Água,Apartment,NC,1st Floor,True,0.0,False,...,NaN,NaN,0.0,NaN,NaN,NaN,27.0,NaN,NaN,1.0
2,580000.0,Faro,Vila do Bispo,Budens,Apartment,D,3rd Floor,False,1.0,True,...,NaN,NaN,2.0,NaN,NaN,NaN,84.0,NaN,NaN,2.0
3,350000.0,Faro,Portimão,Portimão,Apartment,C,4th Floor,True,0.0,False,...,NaN,NaN,2.0,NaN,NaN,NaN,68.0,NaN,NaN,1.0
4,175000.0,Faro,Faro,Faro (Sé e São Pedro),House,NC,NaN,False,0.0,False,...,NaN,NaN,4.0,NaN,NaN,NaN,78.0,NaN,NaN,2.0

In [4]:
df.describe()

,Price,Parking,ConstructionYear,TotalArea,GrossArea,TotalRooms,NumberOfBedrooms,NumberOfWC,LivingArea,LotSize,BuiltArea,NumberOfBathrooms
count,1.143790e+05,114429.000000,73550.000000,1.081710e+05,2.763800e+04,65268.000000,30692.000000,41526.000000,8.736300e+04,2.892900e+04,1.838900e+04,109268.000000
mean,3.666081e+05,0.584659,1988.796886,6.040103e+05,2.789733e+03,3.107648,2.674834,0.405866,1.541565e+03,7.345446e+04,3.682449e+03,1.502791
std,4.128282e+06,0.884952,26.747677,1.868002e+08,1.153670e+05,11.057877,1.903549,1.022958,3.773047e+04,6.091748e+06,1.404187e+05,1.707441
min,1.000000e+02,0.000000,1900.000000,-7.196067e+06,-7.000000e+00,0.000000,0.000000,-15.000000,0.000000e+00,0.000000e+00,-1.000000e+00,-13.000000
25%,7.800000e+04,0.000000,1972.000000,9.500000e+01,1.000000e+02,2.000000,2.000000,0.000000,8.000000e+01,2.960000e+02,1.074500e+02,0.000000
50%,2.000000e+05,0.000000,1994.000000,1.770000e+02,1.640000e+02,3.000000,3.000000,0.000000,1.210000e+02,7.950000e+02,1.781000e+02,1.000000
75%,3.900000e+05,1.000000,2008.000000,6.210000e+02,2.940000e+02,4.000000,3.000000,0.000000,2.150000e+02,3.300000e+03,3.223500e+02,2.000000
max,1.380000e+09,3.000000,2024.000000,6.142007e+10,1.275000e+07,2751.000000,21.000000,59.000000,5.429000e+06,9.923010e+08,1.275000e+07,90.000000

In [5]:
df.tail()

,Price,District,City,Town,Type,EnergyCertificate,Floor,Lift,Parking,HasParking,...,Elevator,ElectricCarsCharging,TotalRooms,NumberOfBedrooms,NumberOfWC,ConservationStatus,LivingArea,LotSize,BuiltArea,NumberOfBathrooms
114618,44000.0,Vila Real,Valpaços,Carrazedo de Montenegro e Curros,Land,NC,NaN,NaN,0.0,NaN,...,False,False,0.0,0.0,0.0,New,767.0,767.0,NaN,0.0
114619,55000.0,Vila Real,Chaves,"Eiras, São Julião de Montenegro e Cela",Land,NC,NaN,NaN,0.0,NaN,...,False,False,0.0,0.0,0.0,New,4000.0,4000.0,NaN,0.0
114620,50000.0,Vila Real,Chaves,"Eiras, São Julião de Montenegro e Cela",Land,NC,NaN,NaN,0.0,NaN,...,False,False,0.0,0.0,0.0,New,3700.0,3700.0,NaN,0.0
114621,18000.0,Vila Real,Chaves,Santa Cruz/Trindade e Sanjurge,Land,NC,NaN,NaN,0.0,NaN,...,False,False,0.0,0.0,0.0,New,2080.0,2080.0,NaN,0.0
114622,100000.0,Vila Real,Montalegre,Montalegre e Padroso,Land,NC,NaN,NaN,0.0,NaN,...,False,False,0.0,0.0,0.0,New,1365.0,1365.0,NaN,0.0